{% extends "homepage/base.html" %}
{% block content %}

    {% for items in item%}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ items.author }}</a>
            <small class="text-muted">{{items.date_posted|date:"F d, Y"}}</small>
        </div>
        <h2><a class="article-title" href="#">{{ items.title }}</a></h2>
        <p class="article-content">{{ item.content }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content %}