python -m venv xsrc
python -m pip install --upgrade pip
pip install django (v.3.0.2)
pip install django-crispy-forms (v.1.8.1)
pip install django-phonenumber-field (v.4.0.0)//installs babel (v.2.8.0)
pip install phonenumbers (v.8.11.1)
pip install pillow (v. 7.0.0)
pip install six (v.-1.13.0)
pip install django-money (v.1.0) //installs py-moneyed (v.0.8.0) #add project.settings INSTALLED_APPS = [   'djmoney',  ]
pip install --upgrade autopep8 (v.1.4.4) //installs pycodestyle (v.2.5.0)
pip install django-extensions (v.2.2.5) #INSTALLED_APPS ='django_extensions',]
pip install bootstrap4 (v.0.1.0)

//pip install django-materialize-css (v.0.0.1)
// pip install crispy-forms-materialize(v.0.2) #INSTALLED_APPS = (...'materialize','crispy_forms','crispy_forms_materialize', ...) # Default layout to use with "crispy_forms" //CRISPY_TEMPLATE_PACK = 'materialize_css_forms'

pip install django-markdownx==3.0.1 //INSTALLED_APPS= [... markdownx, ...] # installed Markdown-3.1.1 django-markdownx-3.0.1
hitcount
allauth




//NOTE: to manual populate objects e.g. Category follow steps:
1. create a json dictionary in the project directory here e.g. category.json
2. run manage.py shell
3. import json
4. from app.models import object here eg. homepage.models import Category
5. with open('filename') as f: here eg. filename=category.json
6. [indent tab] newfile = json.load(f), here eg. newfile can be anything
7. enter
8. for new in newfile:, here eg. new can be anything
9. [indent] new = object(object_var1= new[jsondict_var1], object_var2= new[jsondict_var2], ... )
10. enter
