python -m venv xsrc
python -m pip install --upgrade pip
pip install django (v.3.0.2)
pip install django-crispy-forms (v.1.8.1)
pip install django-phonenumber-field (v.4.0.0)//installs babel (v.2.8.0)
pip install phonenumbers (v.8.11.1)
pip install pillow (v. 7.0.0)
pip install six (v.-1.13.0)
pip install django-money (v.1.0) //installs py-moneyed (v.0.8.0) #add project.settings INSTALLED_APPS = [   'djmoney',  ]
pip install --upgrade autopep8 (v.1.4.4) //installs pycodestyle (v.2.5.0)
pip install django-extensions (v.2.2.5) #INSTALLED_APPS ='django_extensions',]
pip install bootstrap4 (v.0.1.0)
pip install django-materialize-css (v.0.0.1)
 pip install crispy-forms-materialize(v.0.2) #INSTALLED_APPS = (...'materialize','crispy_forms','crispy_forms_materialize', ...) # Default layout to use with "crispy_forms" CRISPY_TEMPLATE_PACK = 'materialize_css_forms'
