{% extends "homepage/base.html" %} {% load crispy_forms_tags %}{% load socialaccount %} {% block content %}


<div class="card py-3 px-5">

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">

            <legend class="border-bottom mb-4 text-center">
                Log In
            </legend>

            <div class="container col-md-6 pb-4">
                <table>
                    <div class="d-flex justify-content-center">
                        <tr>{{form.username|as_crispy_field}}</tr>
                        <tr>{{form.password|as_crispy_field}}</tr>
                    </div>

                    <div>
                        <tr>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-md btn-success" type="submit" style="width: 60%;">Login</button>
                            </div>
                        </tr>
                        <tr>
                            <div class="d-flex justify-content-center">
                                <small>Forgot Password?
                                    <a href="{% url 'password_reset' %}">Reset</a>
                                </small>
                            </div>
                        </tr>
                    </div>
                </table>
            </div>

        </fieldset>
    </form>

    <div class=" container col-md-8 border-top">
        <div class="py-4">
            <table>
                <tr>
                    <div class="d-flex justify-content-center">
                        <small class="text-muted">
                            Or signup using socail accounts:
                        </small>
                    </div>
                </tr>
                <tr>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-md btn-social" href="{% provider_login_url "twitter" %}"
                            style="background: #00acee;"><span><i class="fab fa-twitter fa-lg"
                                    style="margin-right: 25px;"></i></span>Twitter</a>
                    </div>
                </tr>
                <tr>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-md btn-social" href="{% provider_login_url "facebook" %}"
                            style="background: #3b5998;"><span><i class="fab fa-facebook-f fa-lg"
                                    style="margin-right: 25px;"></i></span>Facebook</a>
                    </div>
                </tr>
                <tr>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-md btn-social" href="{% provider_login_url "google" %}"
                            style="background: #DB4437;"><span><i class="fab fa-google fa-lg"
                                    style="margin-right: 25px;"></i></span>Google</a>
                    </div>
                </tr>
            </table>
        </div>
    </div>

    <div class="border-top">
        <div class="d-flex justify-content-center mt-3">
            <small class="text-muted"> Need an Account?
                <a href="{% url 'register' %}" class="ml-2">Sign Up Now</a>
            </small>
        </div>
    </div>

</div>
{% endblock content %}