{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block mainbody %}


<div class="card login-card">
    <div class="grid1">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">

                <legend>
                    <h2>Log In</h2>
                    <hr>
                </legend>

                <div class="container col-md-6">
                    <div class="row">{{form.username|as_crispy_field}}</div>
                    <div class="row">{{form.password|as_crispy_field}}
                        <small>Forgot Password?
                            <a href="{% url 'password_reset' %}">Reset</a>
                        </small>
                    </div>
                    <div class="row"><button class="btn btn-success" type="submit">Login</button></div>

                </div>

            </fieldset>
        </form>

        {% block social_login %}
        {% include 'widget/social_login.html' %}
        {% endblock social_login %}
    </div>
</div>
<div class="grid2">
<img src="" alt="">
    <div class="border-top">
        <div class="d-flex justify-content-center mt-3">
            <small class="text-muted"> Need an Account?
                <a href="{% url 'register' %}" class="ml-2">Sign Up Now</a>
            </small>
        </div>
    </div>

</div>
</div>


{% endblock mainbody %}