{% extends "homepage/base.html" %}
<!-- Home content block -->
{% block content %}

<!-- Block for loop listing the items  -->
{% for items in item %}


<!-- bootstrap styling -->
<div class="card" style="width:200px; height:275px">
  <img class="card-img-top" src="#" alt="Card image" style="width:100%; height:40%">
  <div class="card-body" style="border-bottom: 1px solid #e3e3e3">
    <bs class="card-title"><a href="{% url 'item-detail' items.id %}">{{ items.title }} </a></b>
      <p style="width: 15ch;  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
        {{ items.content }}
      </p>
  </div>
  <div>
    <img class="header-img" src="{{ items.author.profile.image.url }}">
    <a href="{% url 'user-item' items.author.username %}" class="mr-2">{{ items.author }}</a><br>
    <small class="text-muted">{{items.date_posted|date:"F d, Y"}}</small>
  </div>
</div>
<!-- / bootstrap stying -->

<!-- Custom styling -->
<!-- <div class="card">
  <img src="{{ user.profile.image.url }}" style=" border-radius:10px 10px 0px 0px; " height="45%" width="100%" class="card-img-top" alt="...">
  <div class="article-metadata">
    <h6><a class="article-title" href="{% url 'item-detail' items.id %}"><b>{{ items.title }}</b></a></h6>
    <p class="onefive-chars">{{ items.content }}</p>
  </div>
  <img class="header-img" src="{{ items.author.profile.image.url }}">
  <a class="mr-2" href="{% url 'user-item' items.author.username %}">{{ items.author }}</a><br>
  <small class="text-muted">{{items.date_posted|date:"F d, Y"}}</small>
</div> -->
<!-- / custom styling -->

{% endfor %}
<!-- / Block for loop listing the items  -->

<!-- Checks if pages available -->
{% if is_paginated %}
<div style="margin-top: 4rem;">

  <!-- Paginator check for previous pages availability, eg. if current page = 3, Previous = 2 and First is always = 1 -->
  {% if page_obj.has_previous %}
  <a class="btn btn-sm btn-outline-info mb-4" href="?page=1">First</a>
  <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <!-- Paginator check for neighbouring pages availability, eg. if current page = 3, neighbour (-, prev)= 1,2 and (+, next) = 4,5 -->
  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
  <a class="btn btn-sm btn-info mb-4" href="?page={{num}}">{{num}}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
  <a class="btn btn-sm btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
  {% endif %}
  {% endfor %}

  <!-- Paginator check for previous pages availability, eg. if current page = 3, Next = 4 and Last is always = Total pages -->
  {% if page_obj.has_next %}
  <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

</div>
{% endif %}
<!-- Checks if pages available -->

{% endblock content %}
<!-- / Home content block -->
