{% extends "base.html" %}
{% load hitcount_tags %}
<!-- Home content block -->
{% block content %}


<!-- Recent Items -->
<div class="container bg-light" id="Recent_Item">
    <div class="row justify-content-center">
        <legend>
            {{category_item.name}}
        </legend>
    </div>
    <div>
        {% for item in cat_item %}
        <div class="d-inline-flex p-2 bd-highlight align-items-center bg-">
            {% include 'widget/item_card_grid.html' %}
        </div>
    </div>
    {% endfor %}

</div>
</div>


{% endblock content %}
<!-- / Home content block -->