{% extends "base.html" %}
{% load hitcount_tags %}
<!-- Home content block -->
{% block content %}

{% block category %}
<div class="col-2.5 mx-2 bg-light">
    <!-- <div class="card-sticky"> -->
    <div class="card">
        <div class="card-header">
            <h3>
                <strong>Categories</strong>
            </h3>
        </div>
        <div class="card-body" style="font-size:10px">
            <!-- Category List -->
            <ul class="list-group list-group-flush">
                <!-- category element -->
                {% for categories in category %}
                    <a href="{% url 'category-detail' categories.slug %}">
                        {{ categories.get_name_display }}
                    </a>
                </li>
                {% endfor %}
                <!-- / category element -->
            </ul>
            <!-- / Category List -->
        </div>
    </div>
    <!-- </div> -->
</div>

{% endblock category %}

{% endblock content %}
<!-- / Home content block -->