{% load hitcount_tags %}

{% block item_card_grid %}
<div class="d-inline-flex p-2 align-content-center">
    <div class="card card-item-grid">
        <a href="{% url 'item-detail' item.slug %}" title="{{ item.title }}" class="stretched-link"></a>
        <img src="{{item.image.url}}" alt="default.img" class="card-img-top img-item-grid-cover">
        <span class="badge badge-danger badge-header-category-grid">{{item.category}}</span>
        <div class="card-body card-body-grid">
            <div class="row justify-content-center">
                <a href="{% url 'item-detail' item.slug %}" title="{{ item.title }}"
                    class="card-title card-title-grid">
                    {{ item.title }}
                </a>
            </div>
            <div class="row justify-content-center">
                <p class="card-subtitle-price" title="{{ item.price }}">
                    <strong>{{item.price}}</strong>
                </p>
            </div>
            <div class="row justify-content-center">
                <p class="card-subtitle-condition" title="{{ item.condition }}">
                    {{item.condition}}
                </p>
            </div>
            <div class="row justify-content-center">
                <p class="card-subtitle-ad" title="Ad views: {% get_hit_count for item %}">
                    Ad views: {% get_hit_count for item %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock item_card_grid %}