{% block pagination %}
<div class="my-3 mx-auto">

     <nav aria-label="Page navigation example">
          <ul class="pagination pg-blue justify-content-center ">

               <!-- Paginator check for previous pages availability, eg. if current page = 3, Previous = 2 and First is always = 1 -->
               {% if page_obj.has_previous %}
               <li class="page-item"><a class="page-link" href="?page=1">
                         First
                    </a></li>
               <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}"><i
                              class="material-icons md-18">
                              navigate_before</i>
                    </a></li>

               {% else %}
               <li class="page-item disabled"><a class="page-link" href="#">
                         First
                    </a></li>
               <li class="page-item disabled"><a class="page-link" href="#">
                         <i class="material-icons md-18">navigate_before</i>
                    </a></li>
               {% endif %}


               <!-- Paginator check for neighbouring pages availability, eg. if current page = 3, neighbour (-, prev)= 1,2 and (+, next) = 4,5 -->
               {% for num in page_obj.paginator.page_range %}
               {% if page_obj.number == num %}
               <li class="page-item active"><a class="page-link" href="?page={{num}}">
                         {{num}}<span class="sr-only">(current)</span>
                    </a></li>
               {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
               <li class="page-item"><a class="page-link" href="?page={{num}}">
                         {{num}}
                    </a></li>
               {% endif %}
               {% endfor %}

               <!-- Paginator check for previous pages availability, eg. if current page = 3, Next = 4 and Last is always = Total pages -->
               {% if page_obj.has_next %}
               <li class="page-item "><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                         <i class="material-icons md-18">navigate_next</i>
                    </a></li>
               <li class="page-item "><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                         Last
                    </a></li>

               {% else %}
               <li class="page-item disabled"><a class="page-link" href="#">
                         <i class="material-icons md-18">navigate_next</i>
                    </a></li>
               <li class="page-item disabled"><a class="page-link" href="#">
                         Last
                    </a></li>
               {% endif %}

          </ul>
     </nav>
</div>
{% endblock pagination %}