{% extends "homepage/base.html" %}
{% load hitcount_tags %}
<!-- Home content block -->
{% block content %}

{% block featured %}
{% endblock featured%}


<!-- popular items  -->
{% block popular %}
<div class="container mt-5" id="Popular_Items">
    <div class="row justify-content-center">
        <legend>
            <a href="#Popular_Items">
                Popular Items
            </a>
        </legend>
    </div>

    {% for pop_item in popular_items %}
    <div class="d-inline-flex p-2 bd-highlight align">
        <div class="card card-item-grid text-center">
            <img src="{{pop_item.image.url}}" alt="default.img" class="card-img-top img-item-grid-cover">
            <span class="badge badge-danger badge-header-category">{{pop_item.category}}</span>
            <div class="card-body">
                <a href="{% url 'item-detail' pop_item.slug %}" title="{{ pop_item.title }}" class="card-title text-primary">
                        {{ pop_item.title }}
                </a>
                <p class="card-subtitle-price" title="{{ pop_item.price }}">
                    <b>{{pop_item.price}}</b>
                </p>
                <p class="card-subtitle-condition" title="{{ pop_item.condition }}">
                    {{pop_item.condition}}
                </p>
                <p class="card-subtitle-condition" title="Ad views: {% get_hit_count for pop_item %}">
                    Ad views: {% get_hit_count for pop_item %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row justify-content-center">
        <a href="{% url 'popular-items' %}" class="btn btn-primary">View More</a>
    </div>

</div>
{% endblock popular %}
<!-- / popular items  -->

<!-- Recent Items -->
{% block recent %}
<div class="container bg-" id="Recent_Item">
    <div class="row justify-content-center">
        <legend>
            <a href="#Recent_Item">
                Recent Items
            </a>
        </legend>
    </div>

    {% for items in item %}
    <div class="d-inline-flex p-2 bd-highlight align-items-center bg-">
        <div class="card card-item-grid text-center">
            <img src="{{items.image.url}}" alt="" class="card-img-top img-item-grid-cover">
            <span class="badge badge-danger badge-header-category">{{items.category}}</span>
            <div class="card-body">
                <a href="{% url 'item-detail' items.slug %}" title="{{ items.title }}" class="card-title text-primary">
                        {{ items.title }}
                </a>
                <p class="card-subtitle card-subtitle-price" title="{{ items.price }}">
                    <b>{{items.price}}</b>
                </p>
                <p class="card-subtitle card-subtitle-condition" title="{{ items.condition }}">
                    {{items.condition}}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row justify-content-center">
        <a href="{% url 'recent-items' %}" class="btn btn-primary">View More</a>
    </div>

</div>
{% endblock recent %}
<!--/ Recent Items -->

{% endblock content %}
<!-- / Home content block -->