body {
	/* background-color: #dadada; */
	color: #333333;
	/* margin-top: 10rem; */
	/* text-align: center; */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #2c2c2c;
}

div #popular,
div #recent {
	background: rgba(0, 0, 0, 0.185);
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 1vh;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.account-img-sm {
	border-radius: 100%;
	height: 24px;
	width: 24px;
}

.icon-sm {
	height: 18px;
	width: 18px;
}

/* material card */

.sticky {
	/* float: right; */
	position: -webkit-sticky;
	position: fixed;
	top: 0;
}

.card {
	line-height: normal;
	background-color: white;
	-webkit-box-shadow: -2px -2px 8px 2px rgba(41, 38, 38, 0.082),
		2px 2px 8px 2px rgba(41, 38, 38, 0.082);
	box-shadow: -2px -2px 8px 2px rgba(41, 38, 38, 0.082),
		2px 2px -8px 2px rgba(41, 38, 38, 0.082);
}

.card-item-list {
	max-height: 200px;
}

.card-item-grid {
	display: block;
	margin: 4px;
	font-size: 12.5px;
	font-weight: bold;
	height: 250px;
	width: 185px;
	color: #4e342e;
}

.card-item-grid:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
	/* background: rgb(255,128,0,0.5); */
	/* background-image: linear-gradient(0deg, #87b5eb 1%, #87feeb 50%); */
	/* box-shadow: -2px -2px 6px 2px #fff, 2px 2px 6px 2px #c4c4c4; */
}

.img-item-grid-cover {
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
	height: 40%;
	position: relative;
}

.card-subtitle-price {
	color: #4caf50;
	font-size: 12px;
	font-weight: bold;
}

.card-subtitle-condition {
	color: brown;
	font-size: 10px;
	text-transform: uppercase;
}

.badge-header-category {
	font-size: 12px;
	font-weight: bolder;
	position: absolute;
	right: 10px;
	top: 10px;
}
/* .card-image-top:hover img{
    transform: scale(5);
    transition: all .25s ease-out;
} */

/* material card end */

.header-img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

/* sticky footer css */

/* body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
}

main {
     flex: 1 0 auto;
} */

.page-link {
	font-size: 18px !important;
}

/* / sticky footer css */

/* nav bar */

.intro-2 {
	background: no-repeat center center;
	background-size: cover;
}

.navbar {
	background-color: transparent;
}

.top-nav-collapse {
	background-color: #4285f4;
}

@media only screen and (max-width: 200px) {
	.navbar {
		background-color: #4285f4;
	}
}

.view {
	height: 45%;
}

/* / nav bar */

.btn {
	opacity: 90%;
	background-color: rgb(53, 65, 199);
	border-radius: 20px 20px 20px 20px;
	-webkit-box-shadow: -2px -2px 8px 2px rgba(41, 38, 38, 0.082),
		2px 2px 8px 2px rgba(41, 38, 38, 0.082);
	box-shadow: -2px -2px 8px 2px rgba(41, 38, 38, 0.082),
		2px 2px -8px 2px rgba(41, 38, 38, 0.082);
}

.btn:hover {
	opacity: 100%;
	background-color: #1a237e;
	transform: scale(1.04);
}

.btn-social {
	width: 300px;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
}

.badge-header-category-search {
	text-transform: capitalize;
	font-size: 12px;
	font-weight: bolder;
	position: absolute;
	right: 10px;
	top: 10px;
	text-shadow: 2px 2px 2px 2px gray 2px 2px 2px 2px grey;
}

.search-item-grid {
	display: flex;
	margin: 4px;
	font-size: 12.5px;
	font-weight: bold;
	height: 300px;
	width: 300px;
	color: #4e342e;
}

.search-item-grid:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
	/* background: rgb(255,128,0,0.5); */
	/* background-image: linear-gradient(0deg, #87b5eb 1%, #87feeb 50%); */
	/* box-shadow: -2px -2px 6px 2px #fff, 2px 2px 6px 2px #c4c4c4; */
}

.card-body {
	min-height: 200px;
	overflow: hidden;
	display: grid;
	/* place-items: center; */
}

.card-title {
	display: inline-block;
	position: relative;
}

.card-text {
	display: block;
	max-width: 200px;
}

.img-list {
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
	height: 100%;
	/* width: 35%; */
	position: relative;
}

.card-content {
	/* width: 400px; */
	max-width: 30ch;
	max-lines: 2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: none;
	font-size: 1.3rem;
	margin: 0;
	background: transparent;
	/* resize: horizontal; */
}

/*# sourceMappingURL=index.css.map */
