// ------------------------------------------------BODY----------------------------------------------------------
body {
    // text-align: center;
    background-color: #ececec;
    color: #333333;
    margin-top: 10vh;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

// ------------------------------------------------HEADINGS----------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
}

// ------------------------------------------------CONTAINERS----------------------------------------------------------
.container {
    text-align: center;
}


.sticky {
    position: sticky;
    top: 0;
}

.top-15vh {
    top: 15vh;
}

@media screen and (min-width: 480px) {
    .wrapper {
        margin: auto auto;
        text-align: center;
        padding: 25px 75px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-column-gap: 1em;
        height: auto;
        // grid-row-gap: 1rem;

        div.grid1 {
            padding: 1em;
            height: auto;
            // width: 30%;
        }

        div.grid2 {
            // width: 70%;
            padding: 1em;
            height: auto;
        }
    }
}



@media screen and (min-width: 480px) {
    .wrapper2 {
        text-align: center;
        padding: 25px 75px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1em;
    }
}

.wrapper2>div.grid1 {
    padding: 1em;
}

.wrapper2>div.grid2 {
    padding: 1em;
}

#popular,
#recent {
    display: block;
    background: rgba(0, 0, 0, 0.185);
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 1vh;
    justify-content: center;
    align-content: center;
}

// ------------------------------------------------ARTICLE----------------------------------------------------------
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}


// ------------------------------------------------ACCOUNT----------------------------------------------------------
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-img {
    height: 100px;
    width: 100px;
}

.account-heading {
    font-size: 2.5rem;
}

.account-img-sm {
    border-radius: 100%;
    height: 24px;
    width: 24px;
}

.icon-sm {
    height: 18px;
    width: 18px;
}

// ------------------------------------------------CARD----------------------------------------------------------

.card {
    line-height: normal;
    background-color: white;
    border-radius: 10px;
    box-shadow: -2px -2px 8px 2px rgba(41, 38, 38, 0.082),
        2px 2px -8px 2px rgba(41, 38, 38, 0.082);
}

.card-body {
    overflow: hidden;
    display: flexbox;
    /* place-items: center; */
}

.card-title {
    color: rgba(0, 0, 255, 0.692);
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    max-width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    display: block;
    max-width: 200ch;
}

.card-subtitle-price {
    // justify-content: center !important;
    color: #4caf50;
    font-size: 16px;
    font-weight: bold;
}

.card-subtitle-condition {
    // justify-content: center !important;
    color: brown;
    font-size: 10px;
    text-transform: uppercase;
}

.card-subtitle-ad {
    // justify-content: center !important;
    color: black;
    font-weight: bolder;
    font-size: 10px;
    text-transform: uppercase;
}

.card-content {
    /* width: 400px; */
    max-width: 30ch;
    max-lines: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: none;
    font-size: 1.3rem;
    margin: 0;
    background: transparent;
    /* resize: horizontal; */
}

// ------------------------------------------------CARD GRID----------------------------------------------------------
.item-grid {
    max-width: 100vw;
    display: flexbox;
}

.card-item-grid {
    display: block;
    margin: 4px;
    // font-size: 12.5px;
    font-weight: bold;
    height: 250px;
    width: 185px;
    color: #4e342e;

    &:hover {
        transform: scale(1.05);
        transition: all 0.25s ease-out;
    }
}

.card-body-grid {
    flex-direction: column;
    align-content: center;
    height: 55%;
    // padding: 25px 75px;
}

.card-title-grid {
    max-width: 25ch;
    font-size: 12px;
    color: blue;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: none;
}

.img-item-grid-cover {
    object-fit: cover;
    object-position: 50% 50%;
    height: 45%;
    position: relative;
}

.badge-header-category-grid {
    font-size: 12px;
    font-weight: bolder;
    position: absolute;
    right: 10px;
    top: 10px;
}

// ------------------------------------------------CARD LIST----------------------------------------------------------
.card-item-list {
    display: flex;
    max-height: 200px;
}

.img-item-list-cover {
    object-fit: cover;
    object-position: 50% 50%;

    border-radius: 10px;
    height: 200px;
    width: 100%;
    // display: grid;
    position: relative;
}

.badge-header-category-list {

    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder;
    position: absolute;
    right: 25px;
    top: 10px;
}

.card-title-list {
    color: rgb(53, 65, 199);
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
}

.card-footer-list {
    display: inline-flexbox;
    flex-direction: column;
    font-size: 10px;

}

// .list-body-grid {
//     display: inline-grid;
//     grid-template-columns: 35% auto;
//     grid-gap: 10px;

//     div.image {
//         grid-column-start: 1;
//         grid-column-end: 1;
//     }

//     div.body {
//         grid-column-start: 2;
//         grid-column-end: 2;
//         display: grid;
//         grid-template-columns: auto auto;
//         padding: 20px 20px;

//         div.category-top-right {
//             grid-column-start: 1;
//             grid-column-end: 2;
//             justify-content: right;
//             align-content: center;
//         }

//         div.title {
//             grid-column-start: 1;
//             grid-column-end: 2;
//             color: blue;
//             font-size: 15px;
//             font-weight: bold;
//             justify-content: center;
//             max-width: auto;
//             overflow: hidden;
//             text-overflow: ellipsis;
//         }

//         div.price {
//             grid-column-start: 1;
//             grid-column-end: 2;
//         }

//         div.ad {
//             grid-column-start: 1;
//             grid-column-end: 2;
//             font-weight: bold;
//             font-style: italic;
//         }

//         div.subcat-condition {
//             font-weight: bold;
//             grid-template-columns: auto auto;
//         }


//         div.seller {
//             display: flexbox;
//             flex-direction: column;
//             color: rgba(53, 53, 53, 0.185);
//             font-size: 12px;
//         }

//     }
// }

// ------------------------------------------------SEARCH----------------------------------------------------------
.search-success {
    border-radius: .5em;
    background-color: rgba(83, 250, 111, 0.3);
    font-size: 20px;
    display: flex;
    padding-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.search-failure {
    border-radius: .5em;
    background-color: rgba(250, 83, 83, 0.3);
    font-size: 20px;
    display: flex;
    padding-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.badge-header-category-search {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bolder;
    position: absolute;
    right: 10px;
    top: 10px;
    text-shadow: 2px 2px 2px 2px gray 2px 2px 2px 2px grey;
}

.advanced-search-card {
    padding: 10px 10px;
    position: sticky;
    top: 15vh;
}


// ------------------------------------------------HEADER----------------------------------------------------------
.header-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.page-link {
    font-size: 18px !important;
}

// ------------------------------------------------HEADER----------------------------------------------------------
.intro-2 {
    background: no-repeat center center;
    background: url("../img/undraw_online_shopping_ga73.svg");
    background-size: cover;
}

.navbar {
    background-color: #356dc7;
}

.top-nav-collapse {
    background-color: #4285f4;
}

@media only screen and (max-width: 100px) {
    .navbar {
        background-color: #4285f4;
    }
}

.view {
    height: 100%;
}


/* / nav bar */

.btn {
    opacity: 90%;
    background-color: rgb(53, 65, 199);
    border-radius: 20px 20px 20px 20px;
    box-shadow: -2px -2px 8px 2px rgba(41, 38, 38, 0.082),
        2px 2px -8px 2px rgba(41, 38, 38, 0.082);
}

.btn:hover {
    opacity: 100%;
    background-color: #1a237e;
    transform: scale(1.04);
}

.btn-social {
    width: 300px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}


div.whitespace {
    height: 50px;
}

// -----------------------------------------------ITEM DETAIL----------------------------------------------------------------
.sidecard-specifications {
    position: sticky;
    top: 15vh;
}

.item-specifications {
    // height: 45vh;
    padding: 1em;
}

.seller-specifications {
    margin-top: 2em;
    // height: auto;
    padding: 1em;

    .username {
        font-style: italic;
        font-size: 12px;
        color: rgba(104, 104, 104, 0.8);
    }

    .info {
        font-size: 15px;
        text-align: center;
    }

}

.main-card {}

// -----------------------------------------------FORM----------------------------------------------------------------
// #id_title {
//     max-width: 60%;
// }

#id_price_1 {
    max-width: 10rem;
}

.form-sizer {
    display: inline-flexbox;
    flex-direction: column;
    // min-height: 90vh;
}

// -----------------------------------------------CATEGORY CARD----------------------------------------------------------------
.card-item-category {
    display: block;
    font-weight: bold;
    height: 250px;
    width: 250px;
    border-radius: 10px;

    &:hover {
        transform: scale(1.05);
        transform: all 0.25s ease-out;
    }
}

.card-img-category {
    display: flex;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    filter: brightness(40%);
    z-index: 0;
}

.category-header {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(230, 230, 230);
    z-index: 3;
}


// -----------------------------------------------LOGIN CARD----------------------------------------------------------------
.login-card {
    // justify-content: center;
    height: 75vh;
    width: 70vw;
    display: grid;
    grid-template-columns: 70% auto;

    .grid1 {
        justify-content: center;

    }

    .grid2 {}
}

// -----------------------------------------------LOGIN CARD----------------------------------------------------------------