{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class= "container">
    <div class= "row">
        <div class="col-lg-6 col-lg-offset-3">
            <h6 class="text-center">Subscribe BuyandBye's Newsletter </h6>
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert">
                            {{ message }}
                    </div>      
                {% endfor %}
            {% else %} 
            <form method="POST">{% csrf_token %}
                <div class = "input-group">
                    {{ form|crispy }}
                    <span class ="input-group-btn">
                        <button class = "btn btn-default" type="submit">Subscribe</button>
                    </span>
                </div>    
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %} 
