{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class= "container">
    <div class= "row">
        <div class="col-lg-6 col-lg-offset-3">
            <h6 class="text-center">Sign Up BuyandBye's Newsletter </h6>
            <form method="POST">{% csrf_token %}
                <div class = "input-group">
                    {{ form|crispy }}
                    <span class ="input-group-btn">
                        <button class = "btn btn-default" type="submit">Unsubscribe</button>
                    </span>
                </div>    
            </form>
        </div>
    </div>
</div>
{% endblock content %} 
