{% extends "base.html" %}
{% block mainbody %}

    <article class="card">
      <div class="container">
          <legend>
          <br>
          <h1>About Us</h1>
          <br>
          </legend>
            <div>
                <h2>Introduction</h2>
                    <p>
                     BuyAndBye is an online classified platform designed to ease trade of goods and services.
                     Anyone over the age of 18 can register on our website and post classified ads for FREE in accordance with our terms of use and following our ad posting rules.
                     Users with access to an internet enabled device can access our website and search for products and services using our search bar, multiple filters and various categorized listing.
                     As students ourselves, we are aware about how living away from family means having to fend for ourselves and buy goods accordingly.
                     But buying new furniture and goods just for a couple of years can be a burden to the students and their families.
                     So, we wish to build a platform where the graduating students in KU can sell their used goods at a reasonable price to the newcomers.
                     This would make sure that the students selling their furniture and other utilities get a good value for their goods and also that the students buying those goods get them at an affordable price.
                     Our project is based on Django framework of the python programming language. We have used different libraries available to us to complete the project. After the completion of our project, we wish to provide a platform for buying and selling goods and services in and around Kathmandu University.
                     We hope that BuyAndBye is able to connect people wanting to sell used goods and people willing to buy cheaper products.
                     </p>
                <br>
                    
                <h2>How it all started</h2>
                    <p>Due to continuously changing technologies, world has become a very small place to live
                        today. This webapp is mainly focused on providing buy and sell facilities to the students 
                        living around Kathmandu University.</p>
                     <br>

                <h2>Objectives</h2>
                    <p>The main Objectives of BuyandByee are:</p>
                        <div>
                            <ol>
                                <li>To create a platform for online buying and selling of second hand goods.</li>
                                <li>To make online transactions around KU easier and smoother.</li>
                                <li>To take a step further towards the growing industry of web development.</li>
                                <li>To develop a professional ecommerce website.</li>
                                <li></li>
                                <li></li>
                            </ol>
                        </div>
                        <br>

                <h2>Developed By :</h2>
                        <div>
                            <ul>
                                <li>Image Adhikari</li>
                                <li>Yogesh Pant</li>
                                <li>Sajag Silwal</li>
                                <li>Sambeg Shrestha</li>
                            </ul>
                        </div>
            </div>

      </div>
    </article>

{% endblock mainbody %}