{% extends "base.html" %}
{% block content %}

    <article class="card">
      <div class="container">
          <legend>
          <h1>Privacy Policy</h1>
          </legend>
            <div>
                <h2>Information Collection and Usage</h2>
                    <p>We retrieve different types of information for various purposes to provide you our services.</p>
                <br>
                     <strong><h2>Types of data collected</h2></strong>
                    <div>
                        <h4>Personal Data</h4>
                            <p> We may ask you to give us some of your major and verifiable information which can be used to contact or verify you.
                                Some of the major personal information may include: </p>
                            <ul>
                                <li>Name</li>
                                <li>Address</li>
                                <li>Email Id</li>
                                <li>Date Of Birth</li>
                                <li>Occupation</li>
                                <li>Gender</li>
                                </ul>
                        <div>
                            <br>
                            <h4>Usage Data</h4>
                            <p>We can also collect information how the Service is used.
                                This sort of data may include information such as your device's IP address, browser type and version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
                            </p>
                        </div>

                    </div>
                <br>
                <h2>Data usage</h2>
                    <p>BuyandBye uses the collected data for various purposes:</p>
                        <div>
                            <ul>
                                <li>To provide customer care service.</li>
                                <l1>To update you about any sorts of changes regarding the service.</l1>
                                <l1>To allow you to participate in interactive features of our service when you choose to do so.</l1>
                                <l1>To ask user any debugs or complains regarding the service provided.</l1>
                                <li>To monitor the usage of the service.</li>
                            </ul>
                        </div>
                <br>
                <h2>Third Party Sites</h2>
                    <p>Our service can contain link to various Third party sites which are not operated by us.
                        If you click on the link you will be directed to the third party sites.
                        We strongly advise you to check their privacy policy of sites you visit.
                        We do not have any control over those sites.
                        Hence, we assume no responsibility to any content or practices of those sites.</p>
                <br>
                <h2>Disclosure of data</h2>
                    <p>BuyandBye can disclose you data for the following reasons/conditions:</p>
                        <div>
                            <ul>
                                <li>To follow any type of legal obligations.</li>
                                <li>To safeguard the rights or asset of BuyandBye.</li>
                                <li>To protect against legal accountability.</li>
                                <li>To assure the safety of user and public.</li>
                            </ul>
                        </div>
                <br>
                <h2>Disclosure of data</h2>
                    <p>The electronic method of data storage makes your data very secured. </p>
            </div>

      </div>
    </article>

{% endblock content %}