{% extends "base.html" %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
        <legend class="border-bottom">Terms and conditions </legend>
        <div>
            <h2>Introduction</h2>
            <p>This is an agreement which lists out our terms and conditions which controls your approach to BuyandBye
                account along with every services provided by BuyandBye.
                Terms and conditions contain very important contents regarding the rights of the consumer, our
                liabilities and your rights regarding the use of the service.
                So, we request you to read the terms and conditions to clear all of your obligation regarding BuyandBye
                and its operation.
                Only after accepting our terms and conditions, you will be able to create a BuyandBye account and it
                will be considered that you are in the favor of our terms and conditions.
                If you don’t agree our terms and condition you are not allowed to use any services provided by us.</p>
            <br>
            <strong>
                <h2>Definitions</h2>
            </strong>
            <div>
                <p> Some of the meaning of the terms used in this terms and conditions as well as in the introduction
                    portion are mentioned below </p>
                <ul>
                    <li>
                        <h7>“BuyandBye”</h7> means the online platform where you can buy and sell your goods.
                    </li>
                    <li>
                        <h7>“Terms and conditions”</h7> means all the terms and conditions that a consumer should sign
                        or accept before using any services of BuyandBye or any other it’s electronic channels.
                    </li>
                    <li>
                        <h7>"Electronic channels"</h7> means the form of BuyandBye you are using. That might be the
                        website (www.BuyandBye.com) or its application.
                    </li>
                    <li>
                        <h7>"Account"</h7> refers to BuyandBye account.
                    </li>
                    <li>
                        <h7>"Consumer"</h7> refers to the one who is using the any services offered by BuyandBye.
                    </li>
                    <li>
                        <h7>"Service"</h7> means the facilities provided by BuyandBye to its consumer.
                    </li>
                    <li>
                        <h7>"Termination"</h7> means the removal or closure of the BuyandBye account.
                    </li>
                    <li>
                        <h7>"Third party sites"</h7> means sites other than BuyandBye which can appear while using the
                        site of BuyandBye.
                    </li>
                </ul>
            </div>
            <br>
            <h2>Disclaimer</h2>
            <p> BuyandBye does not assure you that there cannot be any problems and errors in our services in the
                future.
                We also strictly forbid any individual or a company to make any assurance on our behalf.</p>
            <p>BuyandBye and its licensor do not assure you that:</p>
            <div>
                <ul>
                    <li>The service will work efficiently everywhere and every time;</li>
                    <li>Any problems, flaws and errors will be improved or amended;</li>
                    <li>To allow you to participate in interactive features of our service when you choose to do so.
                    </li>
                    <li>The services does not contain any sorts of viruses and worms;</li>
                    <li>The results of using the Service will meet your requirements.</li>
                </ul>
            </div>
            <br>
            <h2>Limitation of Liability</h2>
            <p> BuyandBye won’t be liable for any co-incidental or incidental damages, including, loss of profits, fame,
                property or any other intangible losses, resulting from: </p>
            <div>
                <ul>
                    <li>any content or services provided by the third party sites;</li>
                    <li>any content obtained from the Service;</li>
                    <li>unauthorized access to your account or misuse of your account;</li>
                    <li>any harms caused by using products available in our site.</li>
                </ul>
            </div>
            <br>
            <h2>Link to third party sites</h2>
            <p>BuyandBye can contain link to various Third party websites which are not operated by us.
                If you click on the link you will be directed to the third party sites.
                We strongly advise you to check their privacy policy of sites you visit.
                We do not have any control over those sites.
                Thus, we do not have any responsibility to any content of those sites.
                We are not liable for any types of loss and damage caused by those sites.
            </p>
            <br>
            <h2>Modifications</h2>
            <p>BuyandBye has an authority to amend, delete, edit, remove and add any portion in this agreement with or
                without the knowledge of the consumer.
                We will try to let you know about the changes made within 2 weeks.
                Consumers can also see the terms and conditions time and again.
                If they are not in the favor of any changes made then, they can stop using the service.
            </p>
            <br>
            <h2>Notice</h2>
            <p>
                BuyandBye can provide you notices about update in service and new products via email, messages and even
                call sometimes.
                We also do update our latest news in our websites and also on social media.
                For it you can follow our Facebook, Instagram and Twitter.
                You can also push the notification button on your websites to get news regularly.
            </p>
            <br>
            <h2>Termination</h2>
            <p>
                We can terminate you to use BuyandBye for misleading us and violations of terms and conditions with or
                without letting you know.
                You may also not be able to use BuyandBye as we can cease your account.
                If you want close your BuyandBye account, then you can simply stop using the service.
            </p>
        </div>

    </div>
</article>

{% endblock content %}