{% extends "homepage/base.html" %}
{% block content %}

	<article class="article-metadata">
			<div>
						<div class="article-metadata" style="align-content: center;">
								<h2><a class="article-title">{{ object.title }}</a></h2>
								<p class="article-content">{{ object.content }}</p>
						</div>
						<div>
								<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
								<a class="mr-2" href="#">{{ object.author }}</a>
								<small class="text-muted">{{object.date_posted|date:"F d, Y"}}</small>
						</div>
						<div class="mb-2 mt-4">
						{% if object.author == user %}
								<a class="btn btn-outline-primary btn-sm ml-5" href="{% url 'item-update' object.id %}">Update Post</a>
								<a class="btn btn-outline-danger btn-sm ml-2" href="{% url 'item-delete' object.id %}">Delete Post</a>
								{% endif %}
						</div>
				</div>
		</article>

{% endblock content %}
