{% load hitcount_tags %}

{% block item_card_list %}
<div class="card card-item-list my-4">
    <div class="row">
        <div class="col-4">
            <img src="{{item.image.url}}" alt="default.img" class="img-item-list-cover">
        </div>
        <div class="col-8">
            <div class="card-body">
                <span class="badge badge-danger badge-header-categor-list">{{item.category}}</span>
                <div class="row">
                    <a href="{% url 'item-detail' item.slug %}" title="{{ item.title }}"
                        class="card-title text-primary stretched-link">
                        {{ item.title }}
                    </a>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="card-subtitle-price" title="{{ item.price }}">
                            <b>{{item.price}}</b>
                        </p>
                    </div>
                    <div class="col">
                        <p class="card-subtitle-condition" title="{{ item.condition }}">
                            {{item.condition}}
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p class="card-subtitle-ad" title="Ad views: {% get_hit_count for item %}">
                        Ad views: {% get_hit_count for item %}
                    </p>
                </div>
                <div class="row">
                    <p class="" title="{{ item.author}}">
                        {{item.author}}
                    </p>
                </div>
                <div class="row">
                    <p class="" title="{{ item.author}}">
                        {{item.date_posted}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock item_card_list %}