{% load static %}
<nav class="navbar fixed-top navbar-expand-sm navbar-dark scrolling-navbar">
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">
            <!-- <i class="material-icons">laptop_windows</i> -->
            <strong>
                BuyandBye
            </strong>
        </a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if section == " home " %}selected{% endif %}" href="/">
                        Home
                    </a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <h6 class="dropdown-header"><a href={% url 'category' %}>Explore our Categories</a></h6>
                        <div class=" p-2 bd-highlight align-items-center bg-">
                            <div class="col" style="overflow-y:scroll; height: 75vh;">
                                {% for categorylist in category %}
                                <a href="#">{{ categorylist.get_name_display }}</a> {% endfor %}
                            </div>
                        </div>
                    </div>
                </li>
                <!-- / Dropdown -->
            </ul>
        </div>

        <div class="collapsenavbar-collapse">
            <!-- search form -->
            <form class="form-inline" action="{% url 'search_results'%}" method="get">
                <div class="md-form my-0">
                    <div class="form-group">
                        <input class="text-light" type="search" placeholder="Search" name="q"
                            value="{{ request.GET.q }}">
                        <!-- <button class="btn btn-success bg-dark" type="submit" >
                                             Search
                                             <i class="material-icons md-9">search</i>
                                        </button> -->
                    </div>
                </div>
            </form>
            <!-- / search form -->
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'item-create' %}">
                        Post Item
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img class="account-img-sm"
                            src="{{ user.profile.image.url }}"> {{ user.first_name }}
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a href="{% url 'profile' %}">
                            <span><img src="{% static 'index/img/default.png' %}" class="icon-sm" alt=""></span> View
                            Profile
                        </a>
                        <a href="{% url 'logout' %}">
                            <span><img src="{% static 'index/img/logout.png' %}" class="icon-sm" alt=""></span> Logout
                        </a>
                    </div>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        <span><img src="{% static 'index/img/login-light.png' %}" class="icon-sm" alt=""></span> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">
                        <span><img src="{% static 'index/img/register-light.png' %}" class="icon-sm" alt=""></span>
                        Register
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- / Links -->
</nav>
